body {
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(240, 255, 255);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.header {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(47, 99, 81);
}

.form {
    display: flex;
    justify-content: space-between;
}

.input {
    background-color:rgb(250, 234, 214); 
    width: 80vw;
    height: 35px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding-left: 8px;
}

.button {
    background-color: rgb(47, 99, 81);
    color:rgb(250, 235, 215);
    font-size: 12px;
    height: 37px;
    width: 100px;
    border: none;
    border-radius: 5px;
    margin-left: 15px;
    padding: 3px 5px;
    cursor: pointer;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    color: rgb(47, 99, 81);
    font-size: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    margin-left: 8px;
    padding-right: 8px;
    word-break: break-all;
}

.button-remove {
    width: 10px;
    height: 10px;
    padding-left: 10px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
}

.button-remove:after,
.button-remove:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    background: rgb(47, 99, 81);
}

.button-remove:after {
    transform: rotate(45deg);
}

.button-remove:before {
    transform: rotate(-45deg);
}

